.etherum-block-number-wrapper {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.etherum-block-number-title {
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.etherum-data-block-number {
    color: rgba(167, 139, 250);
    font-size: 1.5rem;
    font-weight: 700;
}

.etherum-block-number-description {
    color: rgba(55, 65, 81, 1);
    font-size: 1rem;
}

.etherum-account-balance-footer .etherum-account-balance-message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}